[Unit]
Description=Web application deployment manager, focusing on Haskell web frameworks
After=network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/usr/bin/keter /etc/keter/keter.yaml
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
