[Desktop Entry]
Encoding=UTF-8
Name=xmonad
Comment=A lightweight window manager
Exec=/etc/X11/Sessions/xmonad-darcs
TryExec=xmonad-darcs
Icon=
Type=Xsession
